@use 'variables';
@use 'hero';
@use 'infos_bar';
@use 'buttons';
@use 'event';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style-type: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0px auto;

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}